
.lyrics-box {
    width:100%;
    overflow-y:scroll;
    max-height:40em;
}

.lyrics-input-box {
    width:100%;
    overflow-y:scroll;
    max-height:40em;
}

.steal-scroll {

}

.track-field {
    width:100%;
}