.parameters {
    font-size:1.5em;
    background-color:white;
    color:dark-grey;
    padding:1em;
}
.desc {
    padding-top:1em;
    padding-bottom:1em;
    padding-left:1em;
}
.convert {
    font-size:1.5em;
    width:90%;
}
.download {
    font-size:1.5em;
    background-color:white;
    color:dark-grey;
    padding:1em;
}
.export-options{
    padding:1em;
    font-size:1.2em;
    user-select:none;
}
.export-header {
    font-weight:bold;
}
.swatch {
  text-align: center;
  border-radius: 1em;
  width:2em;
}
.swatch .verybad {
  content: '!';
  background-color: #9D2933;
}
.swatch .bad {
  content: '!';
  background-color: #F9690E;
}
.swatch .warn {
  content: '!';
  background-color: #E2B13C;
}
.swatch .ok {
  background-color:#049372;
}
.swatch .loading {
  background-color:#95A5A6;
}
.swatch .unknown {
  content: '?';
}

.export {
}
.disabled {
    color:lightgrey;
}
.hidden {
    display:none;
}
body {
    text-align:left;

}

.selected {

}

.loading {

}

.unknown {

}
