.parameters {
    font-size:1.5em;
    background-color:white;
    color:dark-grey;
    padding:1em;
}
.convert {
    font-size:1.5em;
    width:90%;
}
.download {
    font-size:1.5em;
    background-color:white;
    color:dark-grey;
    padding:1em;
}
.export-options{
    padding:1em;
    font-size:1.2em;
    user-select:none;
}
.export-header {
    font-weight:bold;
}
.export {
}
.disabled {
    color:lightgrey;
}
.hidden {
    display:none;
}
body {
    text-align:left;

}
